.App {
  text-align: center;
}

.App h1 {
  margin: auto;
  width: 430px;
  height: 50px;
}
.display {
  margin: auto;
  width: 240px;
  height: 100px;
  border: 1px dotted black;
}
.container {
  margin: auto;
  width: 430px;
  height: 430px;
}
.container .col {
  width: 60px;
  height: 60px;
}
